<link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">
<script src="/js/lightbox-plus-jquery.min.js"></script>


<div class="row mt-4">
    <div class="mx-auto text-center">
        <a href="/"> <img src="/headings.png" class="headings-img-small" alt="The call Logo"> </a>
    </div>
</div>


<div class="container mt-4"></div>

<a href="/editions/1.pdf">

    <div class="card text-white bg-secondary mb-3">


        <div class="card-header">First Edition</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="coverpage" src="/1cover.jpg ">
                </div>
                <div class="col-md-4">
                    <div id="index">
                        
                            <p class="alert-link fnt-18 mt-4">Beautiful Name of Allah: Al Khaaliq-The Creator</p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Explanation of Ayah</p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Environmental Problems & its Islamic Solution </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Islam: Panacea ta Suicide </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">The Secret of Success </p>
                        
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="index">
                        

                            <p class="alert-link fnt-18 mt-4">Broken Marriages & Disintegration of The Ummah </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Aqeedah:Does God Exist? </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Qur Scholar: Muhammad lbn Musa Al-Khwarizmi </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Usul AI Fiqh </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Understanding World:Political Invasion af Iran...</p>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>


</a>






<a href="/editions/2.pdf">
<div class="card text-white bg-light mb-3">


    <div class="card-header">Second Edition</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img class="coverpage" src="/2cover.jpg ">
            </div>
            <div class="col-md-4">
                <div  id="index">
                    
                        <p class="alert-link fnt-18 mt-4">Beautiful Name of Allah: Al Khaaliq-The Creator</p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">Explanation of Ayah</p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">Environmental Problems & its Islamic Solution </p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">Islam: Panacea ta Suicide </p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">The Secret of Success </p>
                    
                </div>
            </div>

            <div class="col-md-4">
                <div id="index">
                    
                        <p class="alert-link fnt-18 mt-4">Broken Marriages & Disintegration of The Ummah </p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">Aqeedah:Does God Exist? </p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">Qur Scholar: Muhammad lbn Musa Al-Khwarizmi </p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">Usul AI Fiqh </p>
                    
                    
                        <p class="alert-link fnt-18 mt-4">Understanding World:Political Invasion af Iran...</p>
                    
                </div>
            </div>
        </div>
    </div>

</div>
</a>



<div class="container mt-4"></div>

<a href="/editions/3.pdf">

    <div class="card text-white bg-secondary mb-3">


        <div class="card-header">Third Edition</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="coverpage" src="/editions/cover3.png ">
                </div>
                <div class="col-md-4">
                    <div id="index">
                        
                            <p class="alert-link fnt-18 mt-4">Beautiful Name of Allah: Al Khaaliq-The Creator</p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Explanation of Ayah</p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Unemployment and it's Islamic Solution </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">To My Sisters in Islam </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Seerah:03 The Impact </p>

                            <p class="alert-link fnt-18 mt-4">Energy Conservation and Islam </p>
                        
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="index">
                        

                            <p class="alert-link fnt-18 mt-4">Battle : Army of Alb Arsalaan </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Aqeedah:How is Muhammad SAW a messenger of Allah? </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Quran Hifdh in 50 Days </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Usul AI Fiqh : Types of Daleel </p>
                        
                        

                            <p class="alert-link fnt-18 mt-4">Understanding World:Iran Revolution</p>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>


</a>

