

<section class="headings text-center text-white">
  <div class="container">
   
  <div>
    <img src="/headings.png" class="headings-img img-fluid" alt="The call Logo">
    <div class="monthly fnt-42">MONTHLY</div>
    <p class="text-justify fnt-18"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="subscribe-btns">
    <div class="row">
      <div class="col-md-6">
        <div class="freecopy-btn">
          <a href="/users/freecopy" class="btn bg-white">Get a Free Issue</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="subscribe">
          <a href="/users/subscribe" class="btn bg-red text-white">Subscribe Monthly Issues</a>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-details">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-1">
          <p><i class="fa fa-envelope text-red" aria-hidden="true"></i> <span class="ml-2">feedback@thecall.com</span></p>
          <p><i class="fa fa-phone text-red" aria-hidden="true"></i> <span class="ml-2">+91 9643 597 296</span></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-2">
          <h5 class="text-red">Follow Us</h5>
          <a href="https://www.facebook.com/theCall4Success/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://twitter.com/the_call2019"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://instagram.com/thecall4success"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>

      
  </div>
  </div>
</section>
<!-- footer -->
<section class="footer">
  <p class="text-center text-white">The Call &copy; 2019. All Rights Reserved</p>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>








